@import "mixins";
@import "fonts";
@import "vendor";
@import "vars";
@import "settings";
@import "header";
@import "price";
@import "footer";

body {
    font-weight: 100;
    background-color: $soft-gray;
}
.container { 
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 24px;
    @media (max-width: 320px) {
    }
}

.header { 
    display: flex;
    padding: 17px 16px;
    background-color: $white;
    border-bottom: solid 1px $turquoise;
    &__contacts { }
}

.logo {
    width: 97px;
    height: 51px;
}

.logo-img { }

.logo-link { }

.circle {
    position: relative;
    width: 40px;
    height: 40px;
    border: 2px solid $cherry;
    border-radius: 25px;
    &::before {
        content: '';
        position: absolute;
        transform: rotate(-45deg);
        width: 8px;
        height: 8px;
        bottom: 15px;
        left: 14px;
        border-right: 2px solid $cherry;
        border-bottom: 2px solid $cherry;
    }
}

.icon {
    background-size: contain;
    width: 40px;
    height: 40px;
    margin: 8px;
}

.button {
    position: relative;
    background-color: $cherry;
    color: #fff;
    border: none;
    border-radius: 25px;
    font-family: TTLakesDemiBold;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    padding: 4px 40px 4px 12px;
    &__inner::after {
        content: '';
        position: absolute;
        transform: rotate(-45deg);
        width: 6px;
        height: 6px;
        bottom: 14px;
        right: 17px;
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
    }
}

.block-title {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
}


.gradient-title {
    padding: 16px;
    border-top: solid 1px $turquoise;
    background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%);
    color: $menu-text-color;
    text-transform: uppercase;
}

.main {
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 16px;
}

.service { 
    background-color: #F8F8F8;
    &__top {
        display: grid;
        grid-template-columns: 100%;
        grid-row-gap: 16px;
        padding: 0 16px;
    }

    &__title { 
        font-family: TTLakesBold;
        font-size: 28px;
        line-height: 40px;
        letter-spacing: -0.6px;
    }
    &__nav { 
        display: flex;
        flex-wrap: nowrap;
    }
    &__list { 
        display: flex;
        overflow-x: scroll;
        white-space: nowrap;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    &__list-item { 
        padding: 8px 8px 8px 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        border: 2px solid $soft-gray;
        border-radius: 6px;
        &:active {
            background-color: $white;
            border: 2px solid $turquoise-strong;
            border-radius: 6px;
        }
        &__active {
            background-color: $white;
            border: 2px solid $turquoise-strong;
            border-radius: 6px;

        }

    }
    &__item-link { 
    }

}

.about {
    display: grid;
    grid-row-gap: 16px;
	&__description { 
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px;
        overflow: hidden;
        max-height: 90px;
        margin-bottom: 16px;
        padding: 0 16px;
    }
    #spoiler-checker {
        display: none;
    }
    .spoiler-wrapper {
        display: flex;
        flex-direction: column-reverse;
        position: relative;
    }
    &__spoiler {
        margin-left: 32px;
        font-weight: 600;
        &::before {
            content: '';
            left: 20px;
            bottom: 5px;
            position: absolute;
            transform: rotate(45deg);
            width: 5px;
            height: 5px;
            border-right: 1px solid $turquoise-deep;
            border-bottom: 1px solid $turquoise-deep;
        }
        &::after {
            content: '';
            left: 20px;
            bottom: 10px;
            position: absolute;
            transform: rotate(45deg);
            width: 5px;
            height: 5px;
            border-right: 1px solid $turquoise-deep;
            border-bottom: 1px solid $turquoise-deep;
        }

    }
    #spoiler-checker:checked + [for=spoiler-checker] {
        &::before {
            transform: rotate(225deg);
            bottom: 2px;
        }
        &::after {
            transform: rotate(225deg);
            bottom: 7px;
        }
    }

    #spoiler-checker:checked + [for=spoiler-checker] + .about__description {
        max-height: fit-content;
    }

	&__img { 
    }
}

.swiper { 
    padding: 16px;
    .swiper-wrapper { 

    }
    .swiper-pagination { 
        position: relative;
        padding: 16px 0;
    }
    .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: 0;
    }
    
    .swiper-slide{ 
        display: flex;
        justify-content: space-between;
        max-width: 240px;
        padding: 16px;
        margin-right: 16px;
        border: 1px solid #EAEAEA;
        border-radius: 6px;
        background-color: #fff;
    }
    .swiper-slide > img {
        object-fit: contain;
    }
    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background-color: $middle-soft-gray;
        opacity: 1;
    }
    .swiper-pagination-bullet-active {
        background-color: $soft-dark-gray;
    }
}

.repair {
    background-color: $soft-gray;

	&__title-brand { 

    }
    .technic-slide {
        min-height: 160px;
        &>p {
            font-weight: 600;
        }
        &>.circle {
            align-self: end;
        }
    }
}

