@import "mixins";
@import "fonts";
@import "vendor";
@import "vars";
@import "settings";
@import "price";

body {
    font-family: TTLakes;
    font-weight: 100;
}
.container { 
    @media (max-width: 320px) {
        padding: 16px;
    }
}

.header { 
    display: flex;
    &__contacts { }

    &__header { }
}

.logo {
    width: 97px;
    height: 51px;
}

.logo-img { }

.logo-link { }

.icon {
    background-size: contain;
    width: 40px;
    height: 40px;
    margin: 8px;
}

#burger, [for=burger] {
    display: none;
}

[for=burger] {
    position: relative;
    margin-left: 0px;
    margin-right: 16px;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    transition: all .3s ease-in-out;
    background-color: $cherry;
    &::before {
        content: '';
        position: absolute;
        border-bottom: 2px solid $white;
        top: 12px;
        left: 11px;
        width: 18px;
        transition: all .3s ease-in-out;
    }
    &::after {
        content: '';
        position: absolute;
        border-bottom: 2px solid $white;
        top: 19px;
        left: 11px;
        width: 10px;
        transition: all .3s ease-in-out;
    }
    .line::after {
        content: '';
        position: absolute;
        border-bottom: 2px solid $white;
        bottom: 12px;
        left: 11px;
        width: 14px;
        transition: all .3s ease-in-out;
    }
}

#burger:checked + label + aside {
    top: 0%;
    transition: all .3s ease-in-out;
}

#burger:checked + [for=burger]{
    &::before {
        transition: all .3s ease-in-out;
        top: 19px;
        left: 9px;
        width: 22px;
        transform: rotate(45deg);
    }
    &::after {
        transition: all .3s ease-in-out;
        width: 22px;
        left: 9px;
        transform: rotate(-45deg);
    }
    .line::after {
        border-bottom: 2px solid $cherry;
    }
}

.burger__menu {
    top: -250%;
    position: absolute;
    left: 0;
    padding: 16px 16px 32px;
    background-color: #fff;
    text-decoration: none;
    list-style: none;
    transition: all .3s ease-in-out;
}

.burger {
    &__menu-header {
        display: flex;
        justify-content: flex-end;
    }
    &__logo {
        margin-bottom: 25px;
        margin-left: 56px;
        margin-right: 70px;
    }
    &__search {
        background-image: url(../assets/img/search.svg);
        margin-right: 16px;
    }
    &__nav {    }
    &__list-item {
        font-weight: 600;
        line-height: 24px;
        font-size: 16px;
        letter-spacing: 0.2px;
        color: #1B1C21;
        margin-bottom: 24px;
    }
    &__footer {
        color: #1B1C21;
    }
}

.email {
    margin-bottom: 12px;
}

.tel {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    font-weight: 600;
    margin-bottom: 8px;
}

.burger__contacts {
    @media (max-width: 320px) {
        display: flex;
        margin-bottom: 8px;
    }
    .contacts {
        &__call { 
            background-image: url(../assets/img/call.svg);
            margin-left: 0px;
        }
        &__chat { 
            background-image: url(../assets/img/chat.svg);
        }
        &__profile { 
            background-image: url(../assets/img/profile.svg);
        }
    }
}



@media (max-width: 320px) {
    [for=burger] {
        display: block;
        z-index: 100;
    }
}

.contacts {
    position: relative;
    @media (max-width: 320px) {
        display: none;
    }
	&__call { 
        background-image: url(../assets/img/call.svg);
    }
	&__chat { 
        background-image: url(../assets/img/chat.svg);
    }
	&__profile { 
        background-image: url(../assets/img/profile.svg);
    }
}

.logo-mobile {
    margin-right: 17px;
}

.repair-icon {
    background-image: url(../assets/img/repair.svg);
    background-repeat: no-repeat;
    position: relative;
    &::before {
        content: '';
        border-right: 2px solid #ad0a0a;
        height: 32px;
        position: absolute;
        top: 4px;
        left: -20px;
    }
}

.checkstatus { 
    background-image: url(../assets/img/checkstatus.svg);
}


// .service { }
// &__title { }
// .sevice { }
// &__nav { }
// .service { }
// &__list { }
// .service { }
// &__list-item { }
// .service { }
// &__item-link { }
// .table { }
// &__row { }

// .burger { }



// .settings { }
// .main { }
// .about {
// 	&__description { }
// 	&__spoiler { }
// 	&__img { }
// }
// .repair {
// 	&__title-brand { }
// 	&__slider-brand { }
// 	&__title-technic { }
// 	&__slider-technic { }
// }
// .title-wrapper { }
// .price {
// 	&__title { }
// 	&__slider { }
// 	&__table { }
// 	&__order { }
// 	&__description { }
// 	&__offer { }
// }
// .footer { }
// .copyright { }
// .conf { }
// .description { }