@import "mixins";
@import "fonts";
@import "vendor";
@import "vars";
@import "settings";
@import "header";
@import "serviceTop";
@import "about";
@import "repair";
@import "price";
@import "footer";

body {
    font-weight: 100;
    background-color: $soft-gray;
}
.container { 
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 24px;
    @media (max-width: 320px) {
    }
}

.logo {
    width: 97px;
    height: 51px;
}

.logo-img { }

.logo-link { }

.circle {
    position: relative;
    width: 40px;
    height: 40px;
    border: 2px solid $cherry;
    border-radius: 25px;
    &::before {
        content: '';
        position: absolute;
        transform: rotate(-45deg);
        width: 8px;
        height: 8px;
        bottom: 15px;
        left: 14px;
        border-right: 2px solid $cherry;
        border-bottom: 2px solid $cherry;
    }
}

.icon {
    background-size: contain;
    width: 40px;
    height: 40px;
    margin: 8px;
}

.button {
    position: relative;
    background-color: $cherry;
    color: #fff;
    border: none;
    border-radius: 25px;
    font-family: TTLakesDemiBold;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    padding: 4px 40px 4px 12px;
    &__inner::after {
        content: '';
        position: absolute;
        transform: rotate(-45deg);
        width: 6px;
        height: 6px;
        bottom: 14px;
        right: 17px;
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff;
    }
}

.block-title {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
}


.gradient-title {
    padding: 16px;
    border-top: solid 1px $turquoise;
    background: linear-gradient(90deg, #F8F8F8 0%, #FFFFFF 98.61%);
    color: $menu-text-color;
    text-transform: uppercase;
}

.main {
    display: grid;
    grid-template-columns: 100%;
    grid-row-gap: 16px;
}





.swiper { 
    padding: 16px;
    .swiper-wrapper { 

    }
    .swiper-pagination { 
        position: relative;
        padding: 16px 0;
    }
    .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: 0;
    }
    
    .swiper-slide{ 
        display: flex;
        justify-content: space-between;
        max-width: 240px;
        padding: 16px;
        margin-right: 16px;
        border: 1px solid #EAEAEA;
        border-radius: 6px;
        background-color: #fff;
    }
    .swiper-slide > img {
        object-fit: contain;
    }
    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background-color: $middle-soft-gray;
        opacity: 1;
    }
    .swiper-pagination-bullet-active {
        background-color: $soft-dark-gray;
    }
    @media (min-width: 768px) {
        display: none;
    }
}



