.price {
	&__title {
		@media (min-width: 768px) {
			padding-top: 21px !important;
		}
	}
	&>.price-swiper>.price-swiper-wrapper {
		background-color: #fff;
		border-radius: 6px;
	}
	&>.price-swiper>.price-swiper-wrapper>.price-item{  
		display: grid;
		grid-row-gap: 16px;
		grid-template-columns: 2fr;
		padding-top: 16px;
		padding-left: 8px;
        min-height: 202px;
		align-items: end;
		border: 0px solid white;
		border-bottom: 1px solid white;
		font-size: 14px;
		letter-spacing: 0.2px;
		@media (min-width: 768px) {
			display: flex;
			align-items: center;
			min-height: 0px;
			padding-left: 16px;
			&:not(:last-child)::after {
				content: '';
				position: absolute;
				width: 96%;
				bottom: 0px;
				left: 2%;
				border-bottom: 1px solid #eaeaea;
			}
		}
		.service-name {
			grid-column: 1/3;
			@media (min-width: 768px) {
				min-width: 372px;
			}
			&>p:first-child {
				color: $charcoal;
				@media (min-width: 768px) {
					display: none;
				}
			}
			&>p:nth-child(2) {
				line-height: 18px;
			}
		}
		.service-price {
			grid-column: 1/2;
			@media (min-width: 768px) {
				min-width: 96px;
			}
			&>p:first-child {
				color: $charcoal;
				@media (min-width: 768px) {
					display: none;
				}
			}
		}
		.service-period {
			grid-column: 1/2;
			@media (min-width: 768px) {
				min-width: 101px;
			}
			&>p:first-child {
				color: $charcoal;
				@media (min-width: 768px) {
					display: none;
				}
			}
		}
		&__button {
			grid-column: 2/3;
		}
	}
		.price-headers {
			display: none;
			@media (min-width: 768px) {
				display: flex;
				padding: 16px;
				padding-top: 11px;
				color: $charcoal;	
				font-size: 14px;
				line-height: 16px;		
			}
			&>p:first-child {
				min-width: 372px;
			}	
			&>p:nth-child(2) {
				min-width: 96px;
			}		
		}

	&__description { 
		padding: 16px;
		padding-top: 12px;
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 0.2px;
		@media (min-width: 768px) {
			padding: 0 24px;
			width: 62%;
		}
	}
	&__offer { 
		display: flex;
		flex-wrap: wrap;
		padding: 0 16px;
		font-size: 16px;
		line-height: 24px;
		font-weight: 600;
		@media (min-width: 768px) {
			padding: 16px 24px;
		}
		&>a>span {
			position: relative;
		}
		&>a>span::after {
			content: '';
			position: absolute;
			transform: rotate(-45deg);
			width: 6px;
			height: 6px;
			bottom: 6px;
			right: -15px;
			border-right: 2px solid $cherry;
			border-bottom: 2px solid $cherry;
		}
	}
}