.swiper { 
    padding: 24px;
    overflow-y: hidden;
    width: 100%;
    .swiper-wrapper { 
        
        @media (min-width: 768px) {
            flex-wrap: wrap;
        }
    }
    .swiper-pagination { 
        position: relative;
        padding: 16px 0;
        @media (min-width: 768px) {
            display: none;
        }
    }
    .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: 0;
    }
    
    .swiper-slide{ 
        display: flex;
        justify-content: space-between;
        max-width: 240px;
        padding: 16px;
        margin-right: 16px;
        border: 1px solid #EAEAEA;
        border-radius: 6px;
        background-color: #fff;
    }
    .swiper-slide > img {
        object-fit: contain;
    }
    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background-color: $middle-soft-gray;
        opacity: 1;
    }
    .swiper-pagination-bullet-active {
        background-color: $soft-dark-gray;
    }
    @media (min-width: 768px) {
        // max-height: 185px;
        
    }
}